//Bleu claire
$blue-light-0: #24B9EB;
$blue-light-1: #79D4F2;
$blue-light-2: #4CC6EE;
$blue-light-3: #07ADE5;
$blue-light-4: #0383AE;

//Bleu marine
$blue-dark-0: #3657EE;
$blue-dark-1: #8599F4;
$blue-dark-2: #5C76F1;
$blue-dark-3: #163BE9;
$blue-dark-4: #0929BA;

//Jaune
$yellow-0: #FFBD1F;
$yellow-1: #FFD87B;
$yellow-2: #FFCA4B;
$yellow-3: #FFB400;
$yellow-4: #FFB400;

//Orange
$orange-0: #FF921F;
$orange-1: #FFBF7B;
$orange-2: #FFA74B;
$orange-3: #FF8300;
$orange-4: #FF8300;

// Grays
$gray-darker: #222222;
$gray-dark: #333333;
$gray: #555555;
$gray-light: #999999;
$gray-lighter: #eeeeee;


// Brand Colors
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;