// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#searchForm {
  margin-top: $padding-base-horizontal;

  .form-group.col-xs-10 {
    padding-left: 0;
  }
}

.image-info.panel
{
  .panel-body {
    height: 150px;
  }

  .thumb {
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
    background-color: $purple;
    position: relative;
    top: -$panel-body-padding;
    left: -$panel-body-padding;
  }
  .thumb.official {
    background-color: $yellow;
  }

  .btn
  {
    font-weight: bold;

    i {
      font-size: 0.8em;
      vertical-align: text-top;
      margin-left: 20px;
    }
  }
}