[submodule "whaler-api"]
	path = whaler-api
	url = https://github.com/GMNQRT/whaler-api.git
[submodule "whaler-ui"]
	path = whaler-ui
	url = https://github.com/GMNQRT/whaler-ui.git
[submodule "whaler-logs"]
	path = whaler-logs
	url = https://github.com/GMNQRT/whaler-logs.git
