[submodule "whalerApi"]
	path = whaler-api
	url = https://gitlab.loterman.net/Quentin/Whaler-api.git
  branch = develop
[submodule "whalerUi"]
	path = whaler-ui
	url = https://gitlab.loterman.net/Quentin/Whaler-ui.git
  branch = develop
