[submodule "whaler-api"]
	path = whaler-api
	url = https://gitlab.loterman.net/Quentin/Whaler-api.git
[submodule "whaler-ui"]
	path = whaler-ui
	url = https://gitlab.loterman.net/Quentin/Whaler-ui.git
